doctype html
head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.2/typeahead.bundle.min.js")
body
	div.container
		div(class="navbar navbar-default" role="navigation")
			div(class="container-fluid")
				div(class="navbar-header")
					a(class="navbar-brand" href="/") Lambda Parts
				div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						li
							#[a(href="/wizard", class="btn btn-lg") #[span.glyphicon.glyphicon-qrcode]]
							//- a(href="/wizard") Wizard
						li
							#[a(href="/", class="btn btn-lg") #[span.glyphicon.glyphicon-th-list]]
							//- a(href="/") List
						li
							#[a(href="/backup", class="btn btn-lg", title="Create a backup in DB directory") #[span.glyphicon.glyphicon-compressed]]
							//- a(href="/") List

					div.col-sm-3.col-md-3.pull-right
						form.navbar-form(role="search", action="/search", method="post")
							div.input-group
								input(type="text", class="form-control", placeholder="Search", name="term", id="term")
								div.input-group-btn
									#[button(class="btn btn-default" type="submit") #[span.glyphicon.glyphicon-search]]
		block content
		block footscript