doctype html
head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.2/typeahead.bundle.min.js")
body
	div.container
		div(class="navbar navbar-default" role="navigation")
			div(class="container-fluid")
				div(class="navbar-header")
					a(class="navbar-brand" href="/") Lambda Parts
				div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						li
							a(href="/wizard") Wizard
						li
							a(href="/") List
		block content
		block footscript